/* GENERAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #001638; /* Couleur simple */
    color: #ffffff;
    overflow-x: hidden !important;

}



/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* left group vs actions */
    padding: 10px 20px;
    box-sizing: border-box;
}
.left {
    display: flex;
    align-items: center;
    gap: 12px;     /* espace entre logo et menu */
}



.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    font-weight: bold;
}

.logo img {
    border-radius: 50px;
    width: 50px;   
    height: 50px; 
    object-fit: contain;
}


/* MENU */

.menu {
    display: flex;
    gap: 18px;              /* gère l’espacement proprement */
    margin-left: 0px;      /* colle au logo — tu peux réduire à 0 si tu veux */
    white-space: nowrap;
}

.menu a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-size: 15px;
    opacity: 0.85;
    
}

.menu a:hover {
    opacity: 1;
}

/* ACTION BUTTONS */
.actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-btn {
    width: 35px;
    height: 35px;
    border: 1px solid white;
    background: transparent;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.login-btn,
.register-btn {
    padding: 8px 18px;
    border-radius: 8px;
    text-decoration: none;
    border: 1px solid white;
    font-size: 14px;
    color: white;
}

.login-btn:hover,
.register-btn:hover {
    background: white;
    color: #001640;
}

/* HERO SECTION */
.hero {
    text-align: center;
    padding: 120px 20px;
}

.banner {
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    gap: 15px;
    padding: 12px 25px;
    background: linear-gradient(to right, #002b5c, #005fa3);
    border-radius: 50px;
    margin-bottom: 40px;
}

.banner img {
    width: 35px;
}
.arrow-link {
  color: white;
  text-decoration: none;
}

.arrow-link:hover {
  color: white; /* reste blanc même au survol */
}

.hero-title {
    font-size: 60px;
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
}

.hero-text {
    margin-top: 25px;
    font-size: 18px;
    opacity: 0.9;
    line-height: 1.6;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body * {
    max-width: 100%;
}

.bg-image {
  position: fixed;
  max-width: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url("../image/photo_RIIS.jpg"); /* change avec ton image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  opacity: 0.1; /* transparence — à ajuster */
  z-index: -1;
}
nav {
    max-width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
}
nav ul {
    flex-wrap: wrap;
}
nav a {
    white-space: nowrap;
}




